@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
*{
    font-family: 'Sawarabi Mincho', sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}
body{
    background-color: #000;
}
div#header{
    font-size: 40px;
}
label{
    font-size: 25px;
}
div#main{

    margin-top: 10%;
}